@model IEnumerable<JTPBlog.Models.BlogCategory>

<div id="left-sidebar">
    <!-- Blog Categories Well -->
    <div class="well">
        <h4 class="sub-title">Blog Categories</h4>
        <div class="row">
            <div class="col-md-12">
                @foreach (var cat in Model)
                {
                    <div class="sidebar-list">@Html.ActionLink(cat.Name, "BlogIndex", "Blog", new { sortOrder = "Date", category = cat.Name }, new { @class = "sidebar-list" })</div>
                }
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Recent Posts</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
</div>